html {
    background-color: antiquewhite;
}

.title {
    margin-right: 20px;
    text-align: center;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.recipes {
    margin: 0 auto;
    border: 5px solid black;
    padding: 20px;
    padding-left: 50px;
    width: 320px;


}

a {
    padding: 10px;
    width: 250px;
    text-decoration: none;
    background-color: rgb(34, 33, 33);
    margin-bottom: 10px;
    display: block;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}